/* .wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
}
.wrapper-button {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}
.one {
  margin-right: 5px;
  width: 75px;
  height: 53px;
}
.two {
  width: 75px;
  height: 53px;
}
input {
  width: 100%;
  height: 40px;
} */
