.Main-section {
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}
.spin {
  display: flex;
  justify-content: center;
}

@media (max-width: 1275px) {
  .Main-section {
    flex-direction: column;
  }
}
