.Main-section {
<<<<<<< HEAD
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}
.spin {
  display: flex;
  justify-content: center;
}

@media (max-width: 1275px) {
  .Main-section {
    flex-direction: column;
  }
}
=======
    width: 1200px;
    background-color: #fbe3fa;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 37px;
    margin: 0 auto
}
>>>>>>> 90322494beee8bec8f24374a01121b502f4690d3
